<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="nombre" placeholder="Ingresa tu usuario" >
        <input type="password" name="password" placeholder="Ingresa tu contraseña" >
        <button>Ingresar</button>
    </form>
    <h2>Usuario nuevo?</h2>
    <button onclick="location.href='/register'">Register</button>
</body>

</html>